<a href="https://colab.research.google.com/gist/irynagolub/34fe7d2112ba3281cab00f732dcd6799/-lab2-ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Підготовка та аналіз даних
## Лабораторна робота №2
### ФБ-25 Голубєва Ірина

In [6]:
import os
import urllib.request
import pandas as pd

def download_data(index, year_start=1981, year_end=2024, data_folder='data'):
    if not os.path.exists(data_folder):
        os.makedirs(data_folder)

    filename = f'obl_{index}.csv'
    filepath = os.path.join(data_folder, filename)

    if os.path.isfile(filepath):
        print(f"File {filename} already exists, skipping download.")
        return

    url = f'https://www.star.nesdis.noaa.gov/smcd/emb/vci/VH/get_TS_admin.php?country=UKR&provinceID={index}&year1={year_start}&year2={year_end}&type=Mean'

    with urllib.request.urlopen(url) as wp, open(filepath, 'wb') as out:
        out.write(wp.read())
        print(f'VHI index data for region {index} is downloaded and saved as {filename}')

for i in range(1, 28):
    download_data(i)

File obl_1.csv already exists, skipping download.
File obl_2.csv already exists, skipping download.
File obl_3.csv already exists, skipping download.
File obl_4.csv already exists, skipping download.
File obl_5.csv already exists, skipping download.
File obl_6.csv already exists, skipping download.
File obl_7.csv already exists, skipping download.
File obl_8.csv already exists, skipping download.
File obl_9.csv already exists, skipping download.
File obl_10.csv already exists, skipping download.
File obl_11.csv already exists, skipping download.
File obl_12.csv already exists, skipping download.
File obl_13.csv already exists, skipping download.
File obl_14.csv already exists, skipping download.
File obl_15.csv already exists, skipping download.
File obl_16.csv already exists, skipping download.
File obl_17.csv already exists, skipping download.
File obl_18.csv already exists, skipping download.
File obl_19.csv already exists, skipping download.
File obl_20.csv already exists, skipping download.
File obl_21.csv already exists, skipping download.
File obl_22.csv already exists, skipping download.
File obl_23.csv already exists, skipping download.
File obl_24.csv already exists, skipping download.
File obl_25.csv already exists, skipping download.
File obl_26.csv already exists, skipping download.
File obl_27.csv already exists, skipping download.

In [4]:
import os
import pandas as pd
import re

def data_cleaning(dir_path):
    all_data = []
    if not os.path.isdir(dir_path):
        print(f"The directory {dir_path} does not exist.")
        return None

    for i, file in enumerate(os.listdir(dir_path)):
        file_path = os.path.join(dir_path, file)
        if file.endswith('.csv'):
            df = pd.read_csv(file_path, index_col=False, header=1)
            df['ID'] = i + 1
            all_data.append(df)

    df = pd.concat(all_data).drop_duplicates().reset_index(drop=True)
    df = df.applymap(lambda x: x.encode('ascii', 'ignore').decode('ascii') if isinstance(x, str) else x)
    df = df.applymap(lambda x: re.sub(r'<.*?>', '', x) if isinstance(x, str) else x)
    df.columns = [col.replace(' ', '').replace('(%)', '').replace('Corn', '').replace('<br>', '') for col in df.columns]
    df = df[df['VHI'] != -1]
    df =df.dropna()
    return df

df = data_cleaning('data')
df_original = df.copy()

styled_head = df.head().style.set_table_styles(
    [{'selector': 'th', 'props': [('font-size', '12pt'), ('background-color', 'lightblue')]}]
).hide(axis='index')

styled_tail = df.tail().style.set_table_styles(
    [{'selector': 'th', 'props': [('font-size', '12pt'), ('background-color', 'lightcoral')]}]
).hide(axis='index')

display(styled_head)
display(styled_tail)

In [12]:
def change_region_indices(df):

    new_to_old_index_mapping = {
        1: 22,
        2: 24,
        3: 23,
        4: 4,
        5: 5,
        6: 6,
        7: 7,
        8: 19,
        9: 20,
        10: 10,
        11: 11,
        12: 12,
        13: 13,
        14: 14,
        15: 15,
        16: 16,
        17: 17,
        18: 18,
        19: 9,
        20: 21,
        21: 1,
        22: 2,
        23: 3,
        24: 8,
        25: 25
    }

    index_to_region_name = {
        22: 'Черкаська',
        24: 'Чернігівська',
        23: 'Чернівецька',
        4: 'Крим',
        5: 'Дніпропетровська',
        6: 'Донецька',
        7: 'Івано-Франківська',
        19: 'Харківська',
        20: 'Херсонська',
        10: 'Хмельницька',
        11: 'Київська',
        12: 'Кіровоградська',
        13: 'Луганська',
        14: 'Львівська',
        15: 'Миколаївська',
        16: 'Одеська',
        17: 'Полтавська',
        18: 'Рівненська',
        9: 'Сумська',
        21: 'Тернопільська',
        1: 'Вінницька',
        2: 'Волинська',
        3: 'Закарпатська',
        8: 'Запорізька',
        25: 'Житомирська'
    }

    df_copy = df.copy()

    df_copy['ID'] = df_copy['ID'].apply(lambda x: index_to_region_name.get(new_to_old_index_mapping.get(x, x), x))
    return df_copy

df_original = data_cleaning('data')
df_copy = df_original.copy()
df_copy_with_new_indices = change_region_indices(df_copy)
print(df_copy_with_new_indices)

       year  week    SMN     SMT    VCI    TCI    VHI         ID
0      1982   1.0  0.077  262.50  61.42  34.11  47.76  Черкаська
1      1982   2.0  0.084  264.78  67.23  24.00  45.62  Черкаська
2      1982   3.0  0.086  265.88  67.65  20.41  44.03  Черкаська
3      1982   4.0  0.084  266.90  65.13  19.09  42.11  Черкаська
4      1982   5.0  0.078  266.89  55.58  25.02  40.30  Черкаська
...     ...   ...    ...     ...    ...    ...    ...        ...
60352  2024   7.0  0.147  274.44  64.21  19.58  41.89         27
60353  2024   8.0  0.155  275.34  62.49  23.93  43.20         27
60354  2024   9.0  0.160  275.86  58.46  31.77  45.11         27
60355  2024  10.0  0.162  276.10  51.84  40.86  46.34         27
60356  2024  11.0  0.155  275.51  40.66  56.49  48.57         27

[57915 rows x 8 columns]

In [ ]:
import pandas as pd

def vhi_extremes_for_region_year(df, region_name, year):
    region_data = df[(df['ID'] == region_name) & (df['year'] == year)]
    min_vhi = region_data['VHI'].min()
    max_vhi = region_data['VHI'].max()
    print(f"Мінімальний VHI для {region_name} у {year} році: {min_vhi}")
    print(f"Максимальний VHI для {region_name} у {year} році: {max_vhi}")

df_copy_with_new_indices['year'] = pd.to_numeric(df_copy_with_new_indices['year'], errors='coerce')
vhi_extremes_for_region_year(df_copy_with_new_indices, 'Вінницька', 2020)

Мінімальний VHI для Вінницька у 2020 році: 23.16
Максимальний VHI для Вінницька у 2020 році: 66.55

In [ ]:
import pandas as pd

def analyze_vhi(df, region_names, year_start, year_end, threshold_percentage):

    regions_data = df[(df['ID'].isin(region_names)) & (df['year'] >= year_start) & (df['year'] <= year_end)]

    total_regions = len(region_names)

    threshold_regions = (total_regions * threshold_percentage) / 100

    drought_years = df[df['VHI'] < 15].groupby('year')['ID'].nunique()

    extreme_drought_years = drought_years[drought_years >= threshold_regions].index.tolist()

    return regions_data, extreme_drought_years

df_copy_with_new_indices['year'] = pd.to_numeric(df_copy_with_new_indices['year'], errors='coerce')

region_names_to_analyze = ['Вінницька', 'Житомирська', 'Київська', 'Львівська', 'Одеська']

vhi_data, extreme_drought_years = analyze_vhi(df_copy_with_new_indices, region_names_to_analyze, 2000, 2020, 20)

print(vhi_data)
print(f"Роки з екстремальними посухами, що торкнулися більше ніж {20}% областей: {extreme_drought_years}")

         year  week    SMN     SMT    VCI    TCI    VHI         ID
936    2000.0   1.0  0.044  262.34  18.62  31.06  24.84  Вінницька
937    2000.0   2.0  0.040  261.43  14.43  34.73  24.58  Вінницька
938    2000.0   3.0  0.037  260.59  11.60  41.34  26.47  Вінницька
939    2000.0   4.0  0.037  260.27  12.79  46.45  29.62  Вінницька
940    2000.0   5.0  0.037  260.40  14.78  50.68  32.73  Вінницька
...       ...   ...    ...     ...    ...    ...    ...        ...
31104  2020.0  48.0  0.078  267.83  45.94  26.30  36.12    Одеська
31105  2020.0  49.0  0.068  265.57  47.02  27.97  37.49    Одеська
31106  2020.0  50.0  0.059  263.24  45.87  27.94  36.90    Одеська
31107  2020.0  51.0  0.052  260.99  46.14  31.62  38.88    Одеська
31108  2020.0  52.0  0.048  258.96  49.31  35.78  42.54    Одеська

[5360 rows x 8 columns]
Роки з екстремальними посухами, що торкнулися більше ніж 20% областей: [1984.0, 1986.0, 1993.0, 1994.0, 1999.0, 2000.0, 2003.0, 2007.0, 2012.0]

In [ ]:
def years_with_moderate_droughts(df, percentage_of_regions=20, moderate_drought_range=(15, 35)):
    total_regions = df['ID'].nunique()
    threshold_regions = (total_regions * percentage_of_regions) / 100

    years_drought = df[(df['VHI'] >= moderate_drought_range[0]) & (df['VHI'] < moderate_drought_range[1])].groupby('year')['ID'].nunique()
    moderate_drought_years = years_drought[years_drought >= threshold_regions].index.tolist()
    print(f"Роки з помірними посухами: {moderate_drought_years}")

years_with_moderate_droughts(df_copy_with_new_indices, 20)

Роки з помірними посухами: [1982.0, 1983.0, 1984.0, 1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0, 2002.0, 2003.0, 2005.0, 2006.0, 2007.0, 2008.0, 2009.0, 2010.0, 2011.0, 2012.0, 2013.0, 2014.0, 2015.0, 2016.0, 2017.0, 2018.0, 2019.0, 2020.0, 2021.0, 2022.0, 2023.0]